{{define "users/edit"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{if .Error}}
<p>{{.Error}}asdsd</p>
{{end}}
<form method="post" action="#">
    <label>Username:</label>
    <input type="text" id="Username" placeholder="Ingrese username" name="username" value="{{.User.Username}}">
    <label>Email:</label>
    <input type="text" id="Email" placeholder="Ingrese email" name="email" value="{{.User.Email}}">

    <button type="submit">Registro</button>

</form>
</body>
</html>
{{ end }}