{{define "users/login"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{if .Error}}
<p>{{.Error}}asdsd</p>
{{end}}
<form method="post" action="#">
    <label>Username:</label>
    <input type="text" id="Username" placeholder="Ingrese username" name="username">
    <label>Password:</label>
    <input type="text" id="Password" placeholder="Ingrese password" name="password">
    <button type="submit">Login</button>

</form>

<a href="users/new">Crear una nueva cuenta</a>
</body>
</html>
{{ end }}