{{define "users/new"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="#">
    <label>Username:</label>
    <input type="text" id="Username" placeholder="Ingrese username" name="username">
    <label>Email:</label>
    <input type="text" id="Email" placeholder="Ingrese email" name="email">
    <label>Password:</label>
    <input type="text" id="Password" placeholder="Ingrese password" name="password">
    <button type="submit">Registro</button>

</form>
</body>
</html>
{{ end }}